.container{
    height:fit-content;
    width: 100%;
    color:  #111a21 ;
    padding:0 4rem 2rem 4rem;
    margin: 1rem 0;
}


.container >h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
  
}
.container >h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}


.container>h3 {
    font-size: 1.5rem;
  
}

.exContainer{
    width: 80%;
    margin: auto;
    height: fit-content;
    border-left: 4px solid #111a217a;
    position: relative;
    padding: 1rem 0;
}
.experience{
    width: 90%;
    margin: auto;
    background-color: #111a2113 ;
    padding:1rem;
    border-radius: 1rem;
  
}

.experience >h2{
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.experience >p{
    margin:0.4rem;
}
.treeIcon{
    background-color: #111a21;
    height: 2.5rem;
    width: 2.5rem;
   display: grid;
   place-content: center;
   border-radius: 50%;
   border: 4px solid #111a213d;
   position: absolute;
   left:-1.25rem;
   top:-1rem;
   color: white;
}


@media (max-width:1000px) {
    .exContainer{
        width: 100%;
    }
    .container{
        padding:1rem 2rem;
        margin:0;
      }
}