.container{
    height:fit-content;
    width: 100%;
    color:  white ;
    padding:0 4rem 2rem 4rem;
    margin: 3rem 0 1rem 0;
    background-color:  #111a218e;
}

.container >h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
  
}
.container >h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background:  #87ac23;
    bottom: 0;
    left: 0;
}


.container>h3 {
    font-size: 1.5rem;
}
.container >  p{
    font-size: 1.27rem;
}

.projectCon{
    margin: auto;
    padding:2rem ;
    height: fit-content;
    display: flex;
    
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color:  transparent;
    position: relative;
    margin-top: 1rem;
   
   

}


.projectCon1{
    width: 100%;
    margin: auto;
    padding:2rem ;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: transparent;
    position: relative;
    margin-top: 1rem;
   
   

}

.image{
    position: relative;
    height: 18rem;
    width:100%;
    border-radius:1rem;
    transition: 1s ease;
   
}

.image:hover .cardBody {
    opacity: 1;
    right: 0;
    z-index: 0;
}
.image:hover{
    z-index: 150;
}
.img{
    border-radius:1rem;
}

.projectdetails{
    background-color: #2e3a42;
    color: white;
    width: 100%;
    height: 90%;
    z-index: 1;
    min-height: 80%;
    padding: 2rem;
    border-radius:1rem;
}
.projectCon > .projectdetails {
    margin-left: -5%; 

}
.projectCon1 > .projectdetails {
    margin-right: -5%; 

}

.flexCon{
    width: 100%;
    position: relative;
}
.slideCon{
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: 1s ease all;
}

.iconCon{
    display: flex;
    width: 100%;
    color:white;
}
.iconCon > a {
    color:white;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;

}
.cardBody {
    position: absolute;
    top:0;
    right :-100%;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background: #111a21be;
    transition: 1s ease;
    backdrop-filter: blur(5px);
    opacity: 0;

}

.icon {
    color:white;
    height: 100%;
    width: 100%;
}


.iconCon > a:hover {
    transform: scale(1.2);
}

@media (max-width:600px) {
    .arrow{
        display: none;
    }
    .flexCon{
        overflow-x: scroll;
    }
    .container{
       padding:1rem 1.4rem;
       margin:0;
       width:100vw;
    }
    .projectCon{
        flex-direction: column;
        width: 75vw;
        height: fit-content;
        background-color: transparent;
    }
    .projectCon1{
        flex-direction: column;
        width:75vw;
        height: fit-content;
        background-color: transparent;
    }
    .image{
        width: 97%;
    }
    .projectdetails{
        width: 85%;
    }

    .projectdetails > p{
        display: none;
    }
    .slideCon{
    }
  
}