.container{
    position: fixed;
    width: 25%;
    background-color: white;
    z-index: 500;
    height: 100vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.top{
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bottom {
    flex:1;
    display: flex;
    flex-direction: column;
}

.imageContainer{
    position: relative;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 4px solid #111a213d;
   
}
.img{

    border-radius: 50%;
}

.nameContainer{

}
.nameContainer>h1{
    font-size: 1.5rem;
}

.socialIcon{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.IconCon{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    color:white;
    background-color:#111a21 ;
    display: grid ;
    cursor: pointer;
    place-content: center;
}
.IconCon:hover{
    background-color:#111a21c5 ;
}
.NavCon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex:1;
}
.NavCon > a{
    font-weight: 600;
    transition: 1s ease;

}
.NavCon > a:hover{
    text-decoration: underline;
    transform: scale(1.12);
}
.space{
    flex:0.3;
}



@media (max-width:1000px) {
  .container{
    display: none;
  }
    }